<h1>Students</h1>
<div class="container">
    <div class="item">
        <div class="red">
            <div id="slika">
                <img src="">
            </div>
            <div class="row">
                <p style="font-size: xx-large"></p>
                <p style="font-size: xx-large;"></p>
                <p style="font-size: medium; margin-top: 14px"></p>
            </div>
        </div>
        <div class="kursevi">
            <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false" style="width: 253%">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Courses
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p></p>
            </mat-expansion-panel>
        </div>
    </div>
</div>