<h1>Students</h1>
<button id="newButton" class="btn" (click)="openForm()">New student</button>
<div class="container">
    <div class="item" *ngFor="let student of students">
        <div class="red">
            <div id="slika">
                <img *ngIf="!student.isMale" src="/assets/images/woman-avatar.png" style="width: 135px; height:135px;">
                <img  *ngIf="student.isMale" src="/assets/images/man-avatar.png" style="width: 135px; height:135px;">
            </div>
            <div class="row">
                <p style="font-size: xx-large">{{student.firstName}}</p>
                <p style="font-size: xx-large;">{{student.lastName}}</p>
                <p style="font-size: medium; margin-top: 14px">{{student.years}} years old</p>
            </div>
        </div>
        <div class="kursevi">
            <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false" style="width: 380px">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Courses
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let course of student.courses">
                <p>{{course.name}}</p>
            </div>
            </mat-expansion-panel>
        </div>
        <div id="deleteButton">
            <button class="btn" (click)="deleteStudent(student.id)">Delete</button>
        </div>

    </div>
</div>