#modal{
    width: 400px;
}
h1{
    font-size: 25px;
    text-align: center;
    
}

#updateButton{
    background-color: #dcacff; 
    vertical-align: middle;
    margin-left: auto; 
    margin-right: auto;
    justify-content: center;
    width: 100%;
}