table {
    margin: auto;
    background-color: none;
    margin-bottom: 40px;
}

#listaKurseva{
    width: 60%;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
}
h1{
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
    
}
button {
    margin-right: 5px;
}
td,th{
    text-align: center;
}
#newButton, #searchButton {
    background-color: #dcacff; 
    vertical-align: middle;
    margin-left: auto; 
    margin-right: auto;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

#newButtonDiv{
    padding-bottom: 15px;
}

td {
    justify-content: center;
}

#newButton:hover{
    background-color: #cd86ff; 
    height: 110%;
}
