#noviPredavac{
    width: 40%;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
}
h1{
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
    
}
td,th{
    text-align: center;
}

label{
    padding: 8px;
    font-size: 17px;
}

input{
    margin-bottom: 5px;
}

.container{
    cursor: pointer;
}

