table {
    margin: auto;
    background-color: none;
    margin-bottom: 40px;
}

#listaPredavaca{
    width: 70%;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
}
h1{
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
    
}
button {
    margin-right: 5px;
}
td,th{
    text-align: center;
}
#newButton, #searchButton{
    background-color: #dcacff; 
    vertical-align: middle;
    margin-left: auto; 
    margin-right: auto;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}