<mat-toolbar>
    <mat-toolbar-row>
        <button mat-button (click)="open()"><mat-icon style="color:white;">menu</mat-icon></button>
       <p>School Of Languages</p>
    </mat-toolbar-row>
  </mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <mat-list>
            <mat-list-item>
                <mat-icon fontIcon="home" style="color: white;"></mat-icon><p routerLink="/home">Home</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon style="color: white;">school</mat-icon><p routerLink="/course">Courses</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon style="color: white;">business</mat-icon><p routerLink="/teacher">Teachers</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon style="color: white;">group</mat-icon><p routerLink="/student">Students</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon style="color: white;">euro_symbol</mat-icon><p routerLink="/invoice">Invoices</p>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
