.mat-column-Course{
    width: 150px;
    text-align: center;
}

.mat-column-Serial-number{
    width: 150px;
    text-align: center;
}

.mat-column-Item-value{
    width: 150px;
    text-align: center;
}